@{
    ViewBag.Title = "隐私保密政策";
}
<div class="staticwrap">
    <h1>隐私条款</h1>
    根据我们的基本经营理念，我们努力通过提供优质产品和服务获得顾客的满意及信任。为了实现这个目标，我们制定了下列措施，以保证本网站不会泄露您的私人信息。<br />
    1、我们有专人负责保护个人信息，以求妥善管理这些信息。<br />
    2、如果我们要求您提供或注册个人信息，例如姓名、地址、Email地址或电话号码，我们会告知您其用途以及咨询方式。我们要求您提交的限定在合适范围内的信息。<br />
    3、我们只会将您提供的信息用于您所同意的目的范围。<br />
    4、在未征得您事先同意的条件下，我们不会向第三方提供或透漏您的个人信息。<br />
    5、如果您希望检查个人信息，可以与我们联系。我们会尽快妥善应对您的要求。<br />
    6、我们努力采取合理的方式维护并提高安全性，以确保个人信息管理安全。<br />
    7、同样，根据依照法律及法规，我们将会不断改善并升级措施保护个人信息。
</div>