@{
    ViewBag.Title = "注册成功";
}

<div class="w1000 ticketlist">
    <div class="wrap">
        <p style="text-align:center;margin:50px 0;font-size:2em;color:gray;">
            <img src="~/Content/images/right.png" style="vertical-align:middle;margin-right:20px;" /><span>恭喜你，注册成功啦！</span>
        </p>
        <p class="message" style="color:gray;text-align:center;">&nbsp;</p>
    </div>
</div>

<script type="text/javascript">
    var i = 5;

    $(function () {
        setInterval(setTime, 1000);
    })

    function setTime() {
        if (i == 0) {
            window.location = '@Url.Action("Index","Account")';
        }
        $(".message").text(i + "秒后自动跳转");
        i--;
    }
</script>