
<div class="default-form">
    @using (Html.BeginForm())
    {
        <div class="content">
            <div class="clearfix">
                <label>张数</label>
                <label><span id="num" style="color:red;font-weight:bolder"></span> 张</label>
            </div>
            @Form.Item("退款额", "number", "RefundPrice", "*")
            @Form.Item("描述", "textarea", "Description", "", "已退款")
            <input type="hidden" name="TicketDetailID" />
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        window.top.$("body").data("TicketRefundForm", $);
        var num = window.top.$("body").data("num");

        $("#num").text(num);
        $("input[name=RefundPrice]").val(window.top.$("body").data("totalPrice"));
        if (num > 1) {
            $("input[name=RefundPrice]").attr("disabled", "disabled");
        }

        $(".msg").each(function () {
            $(this).data("msg", $(this).text());
        });

        $(".default-form form").submit(function () {
            $(".msg").each(function () {
                $(this).text($(this).data("msg"));
            });

            $.ajax({
                url: '@Url.Action("ComfirmRefund")',
                data: { ids: window.top.$("body").data("ids"), description: $("textarea[name=Description]").val(), price: $("input[name=RefundPrice]").val() },
                dataType: 'json',
                type: 'post',
                async: false,
                success: function (data, status) {
                    if (data.validate) {
                        $.messager.alert('提示', '操作成功！' + '<br /><span style="color:red;">请登录支付宝管理后台进行手动退款操作！</span>', 'warning');
                        pharos.easyui.dialog.topClose("comfirmDlg");
                        pharos.easyui.dialog.curJquery("comfirmDlg")("#dg").datagrid("reload");
                    }
                    else {
                        if (data.target == "") {
                            pharos.easyui.alert('系统异常', data.msg);
                        }
                        else {
                            $("input[name=" + data.target + "]").parent().find(".msg").text(data.msg);
                        }
                    }
                },
                error: function (e) {
                    pharos.easyui.alert(e.status, e.statusText);
                }
            });
            return false;
        })
    })
</script>