
<div class="nav">
    <a href="/PressRelease" data-nav="company">公司资讯</a>
    <a href="/Products" data-nav="products">鳄鱼制品</a>
    <a href="/Performance" data-nav="performance">园区表演</a>
    <a href="/Medicine" data-nav="medicine">鳄鱼药物</a>
    <a href="/Delicious" data-nav="delicious">鳄鱼美食</a>
    <a href="/Science" data-nav="science">科普园区</a>
    <a href="/Pilot" data-nav="pilot">标准化试点</a>
    <a href="/Ticket" class="last">网上购票</a>
</div>
