
<div class="showtime">
    <h1>人鳄表演时间</h1>
    <table>
        <tr>
            <td style="border-right: solid 1px #71531d; border-bottom: solid 1px #71531d; width:60px;">周一、周三</td>
            <td style="border-bottom: solid 1px #71531d; ">下午暂无</td>
        </tr>
        <tr>
            <td style="border-right: solid 1px #71531d;">周四至周日</td>
            <td >上午暂无<br />下午暂无</td>
        </tr>
    </table>

    <h1>门票价格</h1>
    <table>
        <tr>
            <td style="border-right: solid 1px #71531d; width: 60px; border-bottom: solid 1px #71531d; ">普通门票</td>
            <td style="border-bottom: solid 1px #71531d; "> 大人 30元/人<br />儿童 15元/人</td>
        </tr>
        <tr>
            <td style="border-right: solid 1px #71531d;">	鳄鱼表演门票</td>
            <td>大人 60元/人<br />儿童 30元/人</td>
        </tr>
    </table>
</div>

<div class="phone">
    <p class="shophours">营业时间：8:00-18:00</p>
    <p class="tickethotline">订票热线：0592-6068699</p>
</div>