
<ul class="nav clearfix">
    <li style="*width:36px;"><a href="/" class="home">首页</a></li>
    <li style="*width:100px;" class="@(ViewBag.nav == "wallet" ? "active" : "")"><a href="/BookLet" class="wallet">我的票夹</a></li>
    <li style="*width:60px;" class="@(ViewBag.nav == "buyticket" ? "active" : "")"><a href="/ticket" class="buyticket">购票</a></li>
    <li style="*width:100px;" class="@(ViewBag.nav == "myaccount" ? "active" : "")"><a href="/Account" class="wallet">我的帐号</a></li>
    <li style="*width:100px;" class="@(ViewBag.nav == "help" ? "active" : "")"><a href="/ticket/help" class="wallet">购票帮助</a></li>
</ul>

