
<div id="weather">
    <h1>天气预报</h1>
    <p class="time">@DateTime.Now.ToString("yyyy年MM月dd日")</p>
    <iframe width="170" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&icon=4&wind=1&num=1"></iframe>
</div>