
<div class="menu">
    <ul>
        <li>
            <a href="/Introduction" data-nav="introduction">园区介绍</a>
        </li>
        <li>
            <a href="/Visit" data-nav="visit">园区参观</a>
        </li>
        <li>
            <a href="/Transitlines" data-nav="transitlines">交通线路</a>
        </li>
        <li>
            <a href="/Notice" data-nav="notice">游园须知</a>
        </li>
        <li>
            <a href="/GrowingUp" data-nav="growingup">成长过程</a>
        </li>
        <li>
            <a href="/HumanResources" data-nav="humanresources">人力资源</a>
        </li>
        <li>
            <a href="/ContactUs" data-nav="contactus">联系我们</a>
        </li>
    </ul>
</div>