

<div class="default-form">
    <h1>点击上传Flash文件</h1>
    <div class="content">
        <input type="file" name="flash" id="flash" onchange="uploadflash()" />
    </div>
</div>

<script type="text/javascript">
    function uploadflash() {
        pharos.upload.ajaxfileupload.upload('flash', '@Url.Action("UploadFlash")', '@Url.Action("GetFlashMsg")',
            function (data) {
                if (data.validate) {
                    pharos.easyui.alert('提示', '保存成功');
                    pharos.easyui.dialog.topClose("createFlash");
                    pharos.easyui.dialog.curJquery("createFlash")("#annex").datagrid("reload");
                }
                else {
                    pharos.easyui.alert('错误', data.msg);
                }
            }, function (e) {
                pharos.easyui.alert(e.status, e.statusText);
            })
    }
</script>