@{
    ViewBag.Title = "购票帮助";
    ViewBag.nav = "help";    
}

<div class="staticwrap">
    
    <img src="~/Content/default/images/Help.jpg" style="margin:0 auto;display:block" />
    @*<h1>购票帮助</h1>
    <div style="font-size:large">
        <br />
        <p>在购买鳄鱼园网上电子票之前，您需要先通过简单的注册并绑定您的手机后，方可正常购票；</p>
        <br />
        <p>当您成功购买并支付后，您可在【我的票夹】里看到您所购买的门票，<span style="color:red">请您及时将门票二维码用您的手机拍照下来</span>，凭此二维码到我园检票处二维码刷票处检票入园。</p>
        <br />
        <p>友情提醒，您可将最多5张二维码通过 [生成组合二维码] 按钮组合成一个二维码，此二维码便可一次刷票过检。</p>
        <br />
        <h3 style="color:red">详细流程：</h3>
        <br />
        <p>(1)、注册并登录您的账号；</p>
        <p>(2)、在【购票】页面下，选择您要买的票；</p>
        <p>(3)、通过支付宝进行支付完成交易；</p>
        <p>(4)、到【我的票夹】页面中进行拍照取票；</p>
        <p>(5)、凭照片中的二维码在检票处检票入园。</p>
    </div>*@
</div>
