
@{
    ViewBag.Title = "付款异常";
    Layout = "~/Views/Shared/_LayoutUserInfo.cshtml";
}

<div class="w1000 ticketlist">
    <div class="wrap">
        <p style="text-align:center;margin:50px 0;font-size:2em;color:gray;">
            <img src="~/Content/images/error.png" style="vertical-align:middle;margin-right:20px;" /><span>@ViewBag.msg</span>
        </p>
    </div>
</div>